@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@keyframes bounceDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px); /* Bounces down by 8px */
  }
}

.button-press {
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.button-press:hover {
  transform: translate(-2px, 2px); /* Moves left 2px and down 2px */
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Sidebar */
.sidebar {
  width: 60px;
  transition: width 0.3s;
}
.sidebar:hover {
  width: 200px;
}

/* Sidebar Items */
.sidebar-item {
  display: none;
}
.sidebar:hover .sidebar-item {
  display: block;
}

